.dz11 {
     width: 350px;
    height: 220px;
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 20px;
    padding-right: 10px;
    margin-bottom: 30px;
    border: 2px dashed red;
    background-color: rgb(0, 255, 0);
}

