.feature-item:nth-child(1)::before{
  content: "";
  position: absolute;
  top: -100px;
  left: 0;
  width: 270px;
  height: 120px;
  outline: auto;
  background-color: #F5F4FA;
  background-image: url("../img/antenna\ 1.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 70px;
}

.feature-item:nth-child(2)::before{
  content: "";
  position: absolute;
  top: -100px;
  left: 0;
  width: 270px;
  height: 120px;
  outline: auto;
  background-color: #F5F4FA;
  background-image: url("../img/clock\ 1.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 70px;
}

.feature-item:nth-child(3)::before{
  content: "";
  position: absolute;
  top: -100px;
  left: 0;
  width: 270px;
  height: 120px;
  outline: auto;
  background-color: #F5F4FA;
  background-image: url("../img/diagram\ 1.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 70px;
}

.feature-item:nth-child(4)::before{
  content: "";
  position: absolute;
  top: -100px;
  left: 0;
  width: 270px;
  height: 120px;
  outline: auto;
  background-color: #F5F4FA;
  background-image: url("../img/astronaut\ 1.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 70px;
}