img {
  display: block;
  max-width: 100%;
  height: auto;
}


.team-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
              0px 1px 1px rgba(0, 0, 0, 0.14), 
              0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-meta {
  padding: 30px 0;
  text-align: center;
}


.hero-button {
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  background-color: #ffffff;
  
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
              0px 1px 1px rgba(0, 0, 0, 0.14), 
              0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.hero {
    color: #ffffff;

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                    url("./img/Img\ \(21\).jpg");
  
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
  background-color: #2f303a;
  padding: 200px 0; 
  text-align: center; 
  max-width: 1600px;
  margin: 0 auto;
}
.work-list {
  display: flex;      
  gap: 30px;           
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;   

}


.work-item {

  width: 370px;
}


.work-item img {
  display: block;       
  max-width: 100%;      
  height: auto;
}

.team-list {
   display: flex;      
  gap: 30px;           
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;   

}

.team-card {
  width: 370px;
}

.team-card img {
   display: block;       
  max-width: 100%;      
  height: auto;
}