* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container1:nth-child(1) ::before {
content: "";
width: 270px;
height: 120px;
outline: auto;
position: absolute;
top: -100px;
left: 0;
background-size: 70px;
background-color: #F5F4FA;
background-image: url(./img/antenna\ 1.jpg);
}
body {
  font-family: Arial, sans-serif;
  color: #000000;
}
.items {
    color: blue;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

section {
  padding: 94px 0;
}
.header {
  border-bottom: 1px solid #ececec;
}

.header-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 50px;

}
.contacts {
  display: flex;
  gap: 30px;
}
.hero {
  background: #2f303a;
  color: #ffffff;
  text-align: center;
  padding: 200px 0;
}
.team-list {
    width: 1000px;
    height: auto;
    display: flex;
    gap: 30px;
}
.her {
    background-color: #ffffff;
}

.hero-list {
    display: flex;
    gap: 30px;
}

.navs {
  background-color: #cdc3c3;
  display: flex;
 flex-direction: column;
  gap: 20px;
}